---
layout: default
title: Key Resources
hero:
  name: pisgah-national-forest-timber.jpg
  alt: Two people wearing hard hats take a close look at trees harvested for timber.
  caption: Patrick Scott, Forest Service Fire Management Officer, and Forest Service Public Affairs Officer look at cold wood at a timber sale on the North Mills Area, Pisgah Ranger District, Pisgah National Forest, NC. Photo by Cecilio Ricardo, U.S. Forest Service.
  position: 50% 10%
  heading:
    content: <h2>Keeping Forests as Forests</h2>
    alignItems: flex-start
    justifyContent: flex-end
---

<h1>Key Resources</h1>

<ul class="document-list">
{% for item in site.data.teasers %}
  <li class="document-list-item">
    <div class='document-image'>
      {% if item.image %}
      <img src='{{ site.baseurl }}/images/document-thumbnails/{{ item.image.src }}' alt='{{ item.image.alt }}' />
      {% else %}
      {% include icons/{{ item.type | downcase }}.html %}
      {% endif %}
    </div>
    <div class='document-info'>
      {% if item.url contains 'http' %}
      <h2><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></h2>
      {% else %}
      <h2><a href="{{ site.baseurl }}{{ item.url }}" target="_blank">{{ item.title }}</a></h2>
      {% endif %}
      <p>{{ item.teaser }}</p>
    </div>
  </li>
{% endfor %}
</ul>

<h3>Icons from the Noun Project</h3>

<ul>
  <li>Blog by Chameleon Design</li>
  <li>documents by Rajive</li>
</ul>
