footer {
  background-color: $color-accent;
  // background-image: url('../images/svg/forest.svg');
  background-size: cover;
  background-position: center center;
  color: white;
  padding: 1rem;
  text-shadow: 2px 2px 3px black;

  a {
    color: white !important;
  }
}

.footer-logo {
  display: block;
  height: 100px;
  margin: 2rem auto 1rem;
}

.footer-links {
  list-style: none;
  text-align: center;

  li {
    display: inline;

    &::after {
      content: ' \2022 ';
    }
    &:last-child::after {
      content: '';
    }
  }
}
