.main-nav {
  background: linear-gradient(to right, $color-accent 0%, $green-dark 100%);
  box-shadow: 2px 2px 3px rgba(25, 25, 25, 0.8);
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.logo {
  align-self: center;
  color: white;
  font-family: $serif;
  font-size: 1.4rem;
  padding: 1rem;
  max-width: 150px;

  a {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(25, 25, 25, 0.8);
    transition: text-shadow 0.3s;
  }

  img {
    width: 85px;

    &:hover {
      filter: drop-shadow(3px 3px 5px $color-text);
    }
  }
}

.main-nav-menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    margin: 0 0.5rem;
    max-width: 200px;

    a {
      align-items: center;
      border-bottom: 5px solid transparent;
      color: white;
      display: flex;
      flex: 1;
      justify-content: center;
      text-shadow: 1px 1px 3px rgba(25, 25, 25, 0.8);
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        background: transparent;
        border-bottom: 5px solid white;
        text-shadow: 3px 3px 5px rgba(25, 25, 25, 0.8);
      }
    }
  }
}
