$break-md: 500px;
$break-lg: 700px;

$nav-height: 60px;

// Fonts
$serif: Merriweather, Georgia, Verdana, serif;
$sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$green: #306e3c;
$color-accent: $green;
$color-text: #001f0a;

$leading: 1rem;
